<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.dong.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.boot.dong.entity.Article" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="cityId" property="cityid" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="lastUpdateTime" property="lastupdatetime" jdbcType="TIMESTAMP" />
    <result column="articleType" property="articletype" jdbcType="VARCHAR" />
    <result column="ifApprove" property="ifapprove" jdbcType="INTEGER" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="shopColumn" property="shopcolumn" jdbcType="VARCHAR" />
    <result column="shopColumnId" property="shopcolumnid" jdbcType="VARCHAR" />
    <result column="shopColumnType" property="shopcolumntype" jdbcType="VARCHAR" />
    <result column="shopColumnTypeId" property="shopcolumntypeid" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="top" property="top" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="provinceId" property="provinceid" jdbcType="VARCHAR" />
    <result column="chl" property="chl" jdbcType="VARCHAR" />
    <result column="recommend" property="recommend" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="hotRead" property="hotread" jdbcType="INTEGER" />
    <result column="attention" property="attention" jdbcType="INTEGER" />
    <result column="recommendDetail" property="recommenddetail" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, city, cityId, createTime, lastUpdateTime, articleType, ifApprove, logo, shopColumn, 
    shopColumnId, shopColumnType, shopColumnTypeId, sort, summary, tag, title, top, url, 
    province, provinceId, chl, recommend, author, source, hotRead, attention, recommendDetail
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.boot.dong.entity.Article" >
    insert into t_article (id, city, cityId, 
      createTime, lastUpdateTime, articleType, 
      ifApprove, logo, shopColumn, 
      shopColumnId, shopColumnType, shopColumnTypeId, 
      sort, summary, tag, 
      title, top, url, province, 
      provinceId, chl, recommend, 
      author, source, hotRead, 
      attention, recommendDetail)
    values (#{id,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{cityid,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{lastupdatetime,jdbcType=TIMESTAMP}, #{articletype,jdbcType=VARCHAR}, 
      #{ifapprove,jdbcType=INTEGER}, #{logo,jdbcType=VARCHAR}, #{shopcolumn,jdbcType=VARCHAR}, 
      #{shopcolumnid,jdbcType=VARCHAR}, #{shopcolumntype,jdbcType=VARCHAR}, #{shopcolumntypeid,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{summary,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{top,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{provinceid,jdbcType=VARCHAR}, #{chl,jdbcType=VARCHAR}, #{recommend,jdbcType=INTEGER}, 
      #{author,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{hotread,jdbcType=INTEGER}, 
      #{attention,jdbcType=INTEGER}, #{recommenddetail,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.boot.dong.entity.Article" >
    insert into t_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="cityid != null" >
        cityId,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="lastupdatetime != null" >
        lastUpdateTime,
      </if>
      <if test="articletype != null" >
        articleType,
      </if>
      <if test="ifapprove != null" >
        ifApprove,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="shopcolumn != null" >
        shopColumn,
      </if>
      <if test="shopcolumnid != null" >
        shopColumnId,
      </if>
      <if test="shopcolumntype != null" >
        shopColumnType,
      </if>
      <if test="shopcolumntypeid != null" >
        shopColumnTypeId,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="top != null" >
        top,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="provinceid != null" >
        provinceId,
      </if>
      <if test="chl != null" >
        chl,
      </if>
      <if test="recommend != null" >
        recommend,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="hotread != null" >
        hotRead,
      </if>
      <if test="attention != null" >
        attention,
      </if>
      <if test="recommenddetail != null" >
        recommendDetail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="articletype != null" >
        #{articletype,jdbcType=VARCHAR},
      </if>
      <if test="ifapprove != null" >
        #{ifapprove,jdbcType=INTEGER},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="shopcolumn != null" >
        #{shopcolumn,jdbcType=VARCHAR},
      </if>
      <if test="shopcolumnid != null" >
        #{shopcolumnid,jdbcType=VARCHAR},
      </if>
      <if test="shopcolumntype != null" >
        #{shopcolumntype,jdbcType=VARCHAR},
      </if>
      <if test="shopcolumntypeid != null" >
        #{shopcolumntypeid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        #{top,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null" >
        #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="chl != null" >
        #{chl,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        #{recommend,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="hotread != null" >
        #{hotread,jdbcType=INTEGER},
      </if>
      <if test="attention != null" >
        #{attention,jdbcType=INTEGER},
      </if>
      <if test="recommenddetail != null" >
        #{recommenddetail,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boot.dong.entity.Article" >
    update t_article
    <set >
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        cityId = #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null" >
        lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="articletype != null" >
        articleType = #{articletype,jdbcType=VARCHAR},
      </if>
      <if test="ifapprove != null" >
        ifApprove = #{ifapprove,jdbcType=INTEGER},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="shopcolumn != null" >
        shopColumn = #{shopcolumn,jdbcType=VARCHAR},
      </if>
      <if test="shopcolumnid != null" >
        shopColumnId = #{shopcolumnid,jdbcType=VARCHAR},
      </if>
      <if test="shopcolumntype != null" >
        shopColumnType = #{shopcolumntype,jdbcType=VARCHAR},
      </if>
      <if test="shopcolumntypeid != null" >
        shopColumnTypeId = #{shopcolumntypeid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        top = #{top,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null" >
        provinceId = #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="chl != null" >
        chl = #{chl,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        recommend = #{recommend,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="hotread != null" >
        hotRead = #{hotread,jdbcType=INTEGER},
      </if>
      <if test="attention != null" >
        attention = #{attention,jdbcType=INTEGER},
      </if>
      <if test="recommenddetail != null" >
        recommendDetail = #{recommenddetail,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boot.dong.entity.Article" >
    update t_article
    set city = #{city,jdbcType=VARCHAR},
      cityId = #{cityid,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      articleType = #{articletype,jdbcType=VARCHAR},
      ifApprove = #{ifapprove,jdbcType=INTEGER},
      logo = #{logo,jdbcType=VARCHAR},
      shopColumn = #{shopcolumn,jdbcType=VARCHAR},
      shopColumnId = #{shopcolumnid,jdbcType=VARCHAR},
      shopColumnType = #{shopcolumntype,jdbcType=VARCHAR},
      shopColumnTypeId = #{shopcolumntypeid,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      summary = #{summary,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      top = #{top,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      provinceId = #{provinceid,jdbcType=VARCHAR},
      chl = #{chl,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      hotRead = #{hotread,jdbcType=INTEGER},
      attention = #{attention,jdbcType=INTEGER},
      recommendDetail = #{recommenddetail,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>